<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">La déprime</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path("new_quote") }}">Créer une quote</a></li>
                <li><a href="{{ path("type_quote", {type: "top", nb: "30"}) }}">Top 30</a></li>
                <li><a href="{{ path("type_quote", {type: "flop", nb: "30"}) }}">Flop 30</a></li>
                <li><a href="#">Dernières sorties</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
